<h1><%= @list.name %></h1>

<%= link_to "Add a bookmark", new_list_bookmark_path(@list.id), class: "btn btn-flat" %>

<div class="row my-2">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
          <%= image_tag movie.poster_url, alt: movie.title, class: "movie-img rounded-top" %>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= movie.title %> <span class="text-muted font-weight-normal">• <%= movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
            <small class="text-muted"><%= movie.description %></small>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
                <i class="fas fa-quote-left me-2"></i><small class="flex-grow-1"><%= bookmark.comment %></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>



<%= link_to "Delete List",
            list_path(@list),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
            %>

<%= link_to "Back to lists", lists_path %>
